/*HELPERS*/
.border {
  border: 1px solid #eeeeee;
}
.border-right {
  border-right: 1px solid #eeeeee;
}
.hidden {
  display: none;
}
.margin-bottom {
  margin-bottom: 20px;
}
.toggler {
  cursor: pointer;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -ms-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}
.toggler:hover {
  border: 2px solid #ff2c61;
}
/*GENERAL*/
body {
  background-color: #4473ff;
  color: #eeeeee;
}
a {
  color: #EEEEEE;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover {
  color: #ff2c61;
}
button {
  border-color: #eeeeee;
  color: #eeeeee;
  -webkit-transition: border-color 0.5s color 0.5s;
  -moz-transition: border-color 0.5s color 0.5s;
  -ms-transition: border-color 0.5s color 0.5s;
  -o-transition: border-color 0.5s color 0.5s;
  transition: border-color 0.5s color 0.5s;
}
button:hover {
  border-color: #ff2c61;
  color: #ff2c61;
}
/*HELPERS*/
.centered-text {
  text-align: center;
}
.very-large-text {
  font-size: 1.5em;
}
.large-text {
  font-size: 1.3em;
}
.inline-items > li {
  display: inline-block;
  margin-right: .75em;
  list-style: none;
}
.inline-links > li:hover {
  color: #ff2c61;
}
img.rounded {
  border-radius: 30px;
}
/*CONTENT*/
#title {
  font-family: 'Lobster', sans-serif;
  font-size: 5em;
  text-align: center;
}
#title span:nth-child(even) {
  color: #ff2c61;
}
#page-nav-links > li {
  margin: 0 2em;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#page-nav-links > li:hover {
  color: #ff2c61;
}
/*MOBILE*/
@media only screen and (max-width: 750px) {
  #experience-chart {
    display: none;
  }
}
