* {
    box-sizing: border-box;
}

html {
    background-color: #1C1C1C;
    color: #FFFFE7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Header */
.header-image {
    color: #FFFFE7;
    display: block;
    margin: 300px auto 0 auto;
    width: 800px;
}

.subheader {
    display: block;
    font-size: 30px;
    margin: 20px auto 0 auto;
    text-align: center;
}

/* Contact links */
.contact-links {
    margin: 100px auto 0 auto;
    text-align: center;
}

.contact-links__link {
    border: 1px solid #FFFFE7;
    color: #FFFFE7;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    text-decoration: none;

    -webkit-transition: border-bottom-width .3s;
    -moz-transition: border-bottom-width .3s;
    -ms-transition: border-bottom-width .3s;
    -o-transition: border-bottom-width .3s;
    transition: border-bottom-width .3s;
}

.contact-links__link:hover {
    border-bottom-width: 8px;
}
