@keyframes wobble {
  33% {
    transform: rotate(5deg)
  }

  66% {
    transform: rotate (-5deg)
  }

  100% {
    transform: rotate (0)
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #00AAFF;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-copy {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
  width: 800px;
}

.contact-links {
  margin-top: 5%;
  text-align: center;
}

.contact-links__link {
  margin-left: 20px;
  margin-right: 20px;
}

.contact-links__link:hover .contact-links__link__image {
  animation: wobble .4s infinite;
}

.contact-links__link__image {
  width: 150px;
}

.header {
  font-family: "balloon-urw-drop-shadow";
  font-size: 6rem;
  margin-top: 10%;
  text-align: center;
}

.text-link {
  color: #FFFFFF;
  transition: background-color .2s;
}

.text-link:hover {
  background-color: #333333;
}
