html {
  height: 100%;
  background: #3f3faa;
  overflow: hidden;
}

body {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}

@keyframes drop {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes wobble {
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate -5deg;
  }
  100% {
    transform: rotate 0;
  }
}
* {
  box-sizing: border-box;
}

.body-copy {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 800px;
  text-align: center;
}

.contact-links {
  margin-top: 5%;
  text-align: center;
}

.contact-links__link {
  margin-left: 20px;
  margin-right: 20px;
}

.contact-links__link:hover .contact-links__link__image {
  animation: wobble .4s infinite;
}

.contact-links__link__image {
  width: 150px;
}

.header {
  margin-top: 5%;
}

.header__logo {
  background: url('../images/jd-logo.svg') top center no-repeat;
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.header__text {
  font-family: "Heebo", sans-serif;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.text-link {
  color: #FFFFFF;
  transition: background-color .2s;
}

.text-link:hover {
  background-color: #333333;
}

.rays {
  width: 1px;
  height: 100px;
  background: transparent;
  box-shadow: 507px 75px #7cce55 , 831px 1207px #7cce55 , 147px 250px #d155d8 , 1208px 1200px #d43dd8 , 460px 1057px #29cec6 , 569px 232px #69ba3e , 996px 1031px #d43dd8 , 27px 525px #d155d8 , 888px 1701px #d43dd8 , 1902px 71px #36e0dc , 402px 1320px #36e0dc , 10px 541px #7cce55 , 1811px 1422px #36e0dc , 404px 32px #d155d8 , 1399px 1835px #d155d8 , 1969px 935px #36e0dc , 1759px 1054px #29cec6 , 360px 1452px #c9c23a , 25px 444px #69ba3e , 376px 1299px #d43dd8 , 1855px 794px #d8d54e , 315px 514px #7cce55 , 1738px 1358px #d43dd8 , 1858px 500px #d155d8 , 136px 1468px #d8d54e , 521px 308px #7cce55 , 1754px 747px #29cec6 , 701px 1608px #c9c23a , 1829px 1696px #7cce55 , 477px 1342px #36e0dc , 1312px 997px #c9c23a , 1055px 499px #7cce55 , 1977px 840px #36e0dc , 1431px 895px #36e0dc , 1123px 1106px #d155d8 , 1471px 1141px #d8d54e , 640px 1618px #d8d54e , 621px 1558px #29cec6 , 1692px 209px #69ba3e , 1993px 1120px #29cec6 , 1294px 782px #7cce55 , 67px 525px #29cec6 , 974px 94px #29cec6 , 1538px 1272px #69ba3e , 707px 723px #d8d54e , 125px 379px #7cce55 , 1027px 1992px #7cce55 , 428px 971px #c9c23a , 1608px 823px #d155d8 , 997px 70px #36e0dc;
  animation: drop 120s linear infinite;
  z-index = -1;
}
